/* القواعد العامة */
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #000000, #4a0000);
    color: #333333;
}

header {
    background: linear-gradient(135deg, #000000, #4a0000);
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: #ffffff;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(135deg, #000000, #4a0000);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: #ffffff;
}

h2 {
    font-size: 1.5em;
    margin: 20px 0;
    color: #ffffff;
}

form .form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="month"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="month"]:focus {
    
    outline: none;
}

.payment-options {
     
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.payment-option {
    
    display: flex;
    align-items: center;
    gap: 10px;
}

#credit-card-details {
    margin-top: 20px;
    background: #f9f9f9;
    padding: 15px;
    border: 1px solid #bc0000;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.pay-btn {
    background: linear-gradient(135deg, #000000, #4a0000);
    color: #fff;
    font-size: 1.2em;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    transition: background 0.3s ease;
}

.pay-btn:hover {
    background: #000000;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(135deg, #000000, #4a0000);
    color: #fff;
    margin-top: 40px;
}
label{
    color: #ffffff;
}
